html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*Custome style*/

textarea{
    resize:none;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
     -webkit-appearance:none;
     margin :0;

}

input[type=number]{
    -moz-appearance: textfield;
}